body {
	margin: 0;
	font-family: 'JetBrains Mono', 'Ubuntu Monospace', -apple-system,
		BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(43, 37, 37);
	color: white;
}
